<nav class="navbar navbar-expand-lg navbar-light static-top bg-light">
    <div class="container" style="max-width: 90%;">
        <a class="navbar-brand" href="/">
            <img  height="30" border="0" align="center"  src="/OpenTrade6.png"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><%-__('Trade')%></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" target="_blank" href="https://mc-ex.multicoins.org"><%-__('Exchange')%></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" target="_blank" href="https://mc-dice.multicoins.org"><%-__('DICE')%></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" target="_blank" href="http://mc-faucet.multicoins.org"><%-__('Faucet')%></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" target="_blank" href="https://forum.marycoin.org/"><%-__('Forum')%></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/API">API</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/add_coin">Add coin</a>
            </li>
        </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <% var key = ''; try{if (status.active) key = status.token || '';}catch(e){}%>
            <% if (!key.length) {%><%- include ../partials/nav_not_logged %><% }%>
            <% if (key.length) {%><%-  include ../partials/nav_logged %><% }%>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span ><%-__('Help')%></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/support"><%-__('Support')%></a>
                  <a class="dropdown-item" href="/fees"><%-__('Fees')%></a>
                </div>
            </li>
        </ul>
        
        <button type="button" id='id-button-lang-en' class="btn btn-outline-success btn-sm m-1">EN</button>
        <button type="button" id='id-button-lang-ru' class="btn btn-outline-success btn-sm">RU</button>
    </div>
</nav>
    <div id="loader" style="display:none;"></div>
    <input id='id_lang' type='hidden' <% var value = 'value="en"'; try{if (lang) value = "value='"+lang+"'"}catch(e){} %> <%- value %>>

    <% var message = "";
        if (!share.tradeEnabled && !share.withdrawEnabled) {
          message =
            '<div class="container pt-2">'+
              '<div id="alert-fail" class="alert alert-danger alert-dismissible col-md-12" role="alert" >'+
                '<div id="fail-message">OpenTrade is performing maintenance. Please be patient. <b>Trading and Withdraws disabled</b></div>'+
                '<button id="close_fail" type="button" class="close"  aria-label="Close">'+
                  '<span aria-hidden="true">&times;</span>'+
                '</button>'+
              '</div>'+
            '</div>'
        } else if (!share.tradeEnabled && share.withdrawEnabled) {
          message =
            '<div class="container pt-2">'+
              '<div id="alert-fail" class="alert alert-danger alert-dismissible col-md-12" role="alert" >'+
                '<div id="fail-message">OpenTrade is performing maintenance. Please be patient. <b>Trading is disabled</b></div>'+
                '<button id="close_fail" type="button" class="close"  aria-label="Close">'+
                  '<span aria-hidden="true">&times;</span>'+
                '</button>'+
              '</div>'+
            '</div>'
        } else if (!share.withdrawEnabled && share.tradeEnabled) {
          message =
            '<div class="container pt-2">'+
              '<div id="alert-fail" class="alert alert-danger alert-dismissible col-md-12" role="alert" >'+
                '<div id="fail-message">OpenTrade is performing maintenance. Please be patient. <b>Withdraws are disabled</b></div>'+
                '<button id="close_fail" type="button" class="close"  aria-label="Close">'+
                  '<span aria-hidden="true">&times;</span>'+
                '</button>'+
              '</div>'+
            '</div>'
        }
    %>
    <!--<div class="container pt-2">
      <div id="alert-fail" class="alert alert-danger alert-dismissible col-md-12" role="alert" >
        <div id="fail-message"><b>Crew (CREW)</b> will delisted. Please close your orders and withdraw CREW balances</div>
        <button id="close_fail" type="button" class="close"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      </div>
    </div>-->
    <%- message %>
