            <% var root = false; try{ root = status.id==1;}catch(e){}%>
            <% var adminArea = ""; if (root) adminArea = "<li class='nav-item'><a class='nav-link' href='/admin'>Admin Area</a></li>"%>
            <%- adminArea %>
            <li class='nav-item staff_area'><a class='nav-link' href='/staff'>Staff Area</a></li>
            <li class='nav-item chat_admin_area'><a class='nav-link' href='/staff'>Chat Admin</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span ><%=unescape(status.user)%></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/profile"><%-__('Profile')%></a>
                  <a class="dropdown-item" href="/wallet"><%-__('Wallet')%></a>
                  <a class="dropdown-item" href="/api_keys"><%-__('API keys')%></a>
                  <a class="dropdown-item" href="/referals"><%-__('Affiliate')%></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout"><%-__('Logout')%></a>
                </div>
            </li>
