<!DOCTYPE html>
<html lang="en">
    
    <%- include ../../partials/head %>
  <body>

    <%- include ../../partials/header %>

    <%- include ../../partials/alerts %>


    <div class="container">
      <div id='first-step' class="row">
        <div class="offset2 col-md-6">
            <h2>Reset your password</h2>
            <form method="post" id='password_reset_form' action="/password_reset">
                <div id="reset_password_email" class="form-group"> 
                    <label for="id_email" class="control-label  requiredField">E-mail<span class="asteriskField">*</span> </label> 
                    <div class="controls "> 
                        <input class="emailinput form-control" id="id_email" maxlength="75" name="email" type="email" required> 
                    </div> 
                </div>
                <div class="g-recaptcha" data-sitekey="<%- recaptcha%>"></div>
                <button id='button_reset' class="btn btn-success" >Reset</button>
            </form>
        </div>
      </div>
      <div id='second-step-success' class="row" style="display:none;">
        <div class="offset2 col-md-6">
            <h2>Almost done!</h2>
            <p>Please check your E-mail for further instructions
        </div>
      </div>
      <div id='second-step-error' class="row" style="display:none;">
        <div class="offset2 col-md-6">
            <h2>Something wrong ((</h2>
            <p>Please refresh this page and try again.
        </div>
      </div>
    </div> <!-- /container -->


    <%- include ../../partials/footer %>
    <script src='/js/password_reset.js'></script>
  </body>
</html>
