<!DOCTYPE html>
<html lang="en">
    
    <%- include ../../partials/head %>
  <body>

    <%- include ../../partials/header %>

    <%- include ../../partials/alerts %>


    <div class="container">
      <div id='first-step' class="row">
        <div class="offset2 col-md-4">
            <h2>Verify it's you</h2>
            <form method="post" id='pin_check_form' action="/pin">
                <% var redirect='/'; try{redirect=path_redirect}catch(e){}%>
                <input id='id_redirect' name='login_redirect' type='hidden' value='<%= redirect%>'>
                <div class="form-group"> 
                    <label for="id_pin" class="control-label">We've sent a verification code to your email. Enter the code from the email in the field below. </label> 
                    <div class="controls"> 
                        <input class="form-control" id="id_pin" maxlength="8" name="pin" required placeholder="Enter 8 digit code"> 
                    </div> 
                </div>
                <button id='button_verify' class="btn btn-success" >Verify</button>
            </form>
        </div>
      </div>
    </div> <!-- /container -->


    <%- include ../../partials/footer %>
    <script src='/js/pin.js'></script>
  </body>
</html>
