<!DOCTYPE html>
<html lang="en">
    
    <%- include ../../partials/head %>
  <body>

    <%- include ../../partials/header %>

    <%- include ../../partials/alerts %>

    <div class="container">
      <div class="row" <% var success = ''; if (error) success = 'style="display:none;"'%> <%- success %>>
        <div class="offset2 col-md-6">
            <h2>Registration confirmed!</h2>
            <p>You can <a href='/login'>login</a> to OpenTrade now.
        </div>
      </div>
      <div class="row" <% var fail = ''; var errMessage = message || "(unknown)"; if (!error) fail = 'style="display:none;"'%> <%- fail %>>
        <div class="offset2 col-md-6">
            <h2>Something wrong (( <%- errMessage%></h2>
            <p>Please try <a href='/signup'>Sign up</a> again.
        </div>
      </div>
    </div> <!-- /container -->

    <%- include ../../partials/footer %>
  </body>
</html>
